;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :nrepl {:port 7777}
 :dependencies
 [[cider/cider-nrepl "0.29.0"]]

 :builds
 {:ext
  {:devtools {:use-document-host false
            ;;   :repl-init-ns demo.sw/init
            ;;   :repl-pprint true
              :socket-repl false}
   :target :esm
   :output-dir "ext/js"
   :runtime :browser
   :modules
   {:shared
    {:entries []}
    :sw
    {:init-fn demo.sw/init
     :depends-on #{:shared}}
    :popup
    {:init-fn demo.popup/init
     :depends-on #{:shared}}}}}}
